.title,
.sub-title {
  text-align: center;
  font-weight: bolder;
}

.title {
  margin-top: 0;
  margin-bottom: .75rem;
}

.sub-title {
  margin-bottom: 3rem;
}

nb-card {
  box-shadow: none;
  background-color: transparent;
}

nb-card-body {
  max-width: 35rem;
  z-index: 1;
  margin: auto;
}

a.rb-reset {
  display: block;
  text-align: center;
}
